<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>复杂网络</title>
	<meta name="description" content="A free html template with Sketch design made with Bootstrap">
	<meta name="keywords" content="free html template, bootstrap, ui kit, sass" />
	<meta name="author" content="Codrops" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="57x57" href="../static/picture/img/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../static/picture/img/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../static/picture/img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../static/picture/img/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../static/picture/img/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../static/picture/img/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../static/picture/img/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../static/picture/img/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../static/picture/img/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="../static/picture/img/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../static/picture/img/favicon/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="../static/picture/img/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="../static/picture/img/favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="../static/picture/img/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="../static/picture/img/favicon/manifest.json">
	<link rel="mask-icon" href="../static/picture/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="../static/picture/img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#66e0e5">
	<meta name="msapplication-TileImage" content="../static/picture/img/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="../static/picture/img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- end favicon links -->
	<link rel="stylesheet" href="../static/css/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/css/css/normalize.min.css">
	<link rel="stylesheet" href="../static/css/css/animate.min.css">
	<link rel="stylesheet" href="../static/css/css/flickity.min.css">
	<link rel="stylesheet" href="../static/css/css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="container-fluid">
		<div class="row">
			<div class="header-nav-wrapper">
				<div class="primary-nav-wrapper">
					<nav>
						<ul class="primary-nav">
							<li><a href="#intro">人物成果</a></li>
							<li><a href="#team">信息传播</a></li>
							<li><a href="#articles">舆情反应</a></li>

						</ul>
					</nav>

					<div class="search-wrapper">
						<ul class="search">
							<li>
								<input type="text" id="search-input" placeholder="Start typing then hit enter to search">
							</li>
							<li>
								<a href="#" class="hide-search"><i class="fa fa-close"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="navicon">
					<a class="nav-toggle" href="#"><span></span></a>
				</div>
			</div>
		</div>
	</div>
	<header class="hero">
		<div class="carousel js-flickity">
			<div class="carousel-cell" style="background-image: url(../static/picture/img/hero-bg-01.jpg);">
				<div class="hero-bg">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<h1 class="wp1">天津大学复杂网络</h1>
								<h2 class="wp1"> ——天大化工张卫江的信任危机</h2>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</header>
	<!-- SECTION: Intro -->
	<section class="collective has-padding" id="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h4>人物成果</h4>
				</div>
				<div class="col-md-9">
					<p>张卫江，男，汉族，天津大学化工学院化学工程研究所教授。主要从事传质与分离过程包括分批精馏过程、同分异构体分离过程、同位素分离过程等、以及环境工程中氮氧化物尾气处理、锅炉脱硫除尘、污水处理等过程相关问题的理论探索、工程设计的研究工作。</p>
				</div>
                <div class="col-md-1">
				</div>

                <div class="col-md-11">
                    <img src="../static/picture/img/flow.png" class="img-responsive center-block" alt="Cinque Terre">
                </div>
			</div>
		</div>
	</section>
	<!-- END SECTION: Intro -->

    <section class="collective has-padding" id="team">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h4>信息传播</h4>
				</div>
				<div class="col-md-9">
                    <p>事件发生后，新闻传递网络。各节点为在线新闻机构，边即为之间存在相互转发。</p>
				</div>

			    <div class="col-md-12">
					<div id="echart1" style="height:400px"></div>
				</div>
			</div>
		</div>
	</section>

    <section class="collective has-padding" id="articles">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h4>舆情反应</h4>
				</div>
				<div class="col-md-9">
                    <p>依据搜集到的用户评论信息（凤凰网，新浪网，网易，搜狐，今日头条等），构建用户关联网络，探讨舆情发展趋势。</p>
                    <p>用户间存在一条回复,关注即构建一条边</p>
				</div>

				<div class="col-md-12">
				    <div id="echart2" style="height:500px"></div>
                </div>
			</div>
		</div>
	</section>


	<!-- SECTION: Footer -->
	<footer class="has-padding footer-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-4 footer-branding">
					<p>天津大学大数据实验室</p>
                    <p>2017.10</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- END SECTION: Footer -->
	<!-- JS CDNs -->
	<script src="../static/js/js/jquery.min.js"></script>
	<script src="../static/js/js/jquery-ui.min.js"></script>
	<script src="../static/js/js/video.min.js"></script>

	<!-- jQuery local fallback -->
	<script>
	window.jQuery || document.write('<script src="../static/js/js/min/jquery-1.11.2.min.js"><\/script>')
	</script>
	<!-- JS Locals -->
	<script src="../static/js/js/min/bootstrap.min.js"></script>
	<script src="../static/js/js/min/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	<script src="../static/js/js/min/retina.min.js"></script>
	<script src="../static/js/js/min/jquery.waypoints.min.js"></script>
	<script src="../static/js/js/min/flickity.pkgd.min.js"></script>
	<script src="../static/js/js/min/scripts-min.js"></script>

    <script src="../static/js/js/echarts.min.js"></script>

    <script type='text/javascript'>
	var myChart = echarts.init(document.getElementById('echart1'));
	var myChart2 = echarts.init(document.getElementById('echart2'));

	myChart.showLoading();
	myChart2.showLoading();

	$.get('../static/data/test.json', function (webkitDep) {

    	myChart.hideLoading();



    option = {
        baseOption:{
          timeline:{
            axisType: 'category',
            show: true,
            autoPlay: true,
            playInterval: 1500,
            data:[]
          }
        },
        options:[]
      };

      for (var n = 0; n < webkitDep.timeline.length; n++){
        option.baseOption.timeline.data.push(webkitDep.timeline[n]);
        option.options.push({
          series:{
            type : 'graph',
            layout:'force',
            animation: false,
            draggable:true,
            data: webkitDep.nodes[n].map(function (node, idx) {
                node.id = idx;
                return node;
            }),
            categories: webkitDep.categories,
            force: {
                edgeLength: 20,
                repulsion: 20,
                gravity: 0.1
            },
            edges: webkitDep.links[n]
          }
        });

        myChart.setOption(option);
      }

  });


    $.get('../static/data/t.json', function (webkitDep) {
    	myChart2.hideLoading();
        option = {
        legend: {
            data: ['凤凰网', '新浪网', '网易', '搜狐', '今日头条']
        },
        series: [{
            name:'demo',
            type: 'graph',
            layout: 'force',
            animation: false,
            label: {
                normal: {
                    position: 'right',
                    formatter: '{b}'
                }
            },
            draggable: true,
            data: webkitDep.nodes.map(function (node, idx) {
                node.id = idx;
                return node;
            }),
            categories: webkitDep.categories,
            force: {
                // initLayout: 'circular'
                // repulsion: 20,
                edgeLength: 5,
                repulsion: 20,
                gravity: 0.2
            },
            edges: webkitDep.links
        }]
    };
    myChart2.setOption(option);
});

    </script>
</body>

</html>
